# 1 In the below elements which of them are values or an expression? eg:- values can beinteger or string and expressions will be mathematical operators.
(*) - Mathematical operator

('hello') - String

(-87.8) - Float

(-) - Mathematical operator

(/) - Mathematical operator

(+) - Mathematical operator

(6) - Integer

# 2 What is the difference between string and variable?
A string is a combination of characters which we enclose in quotes it can be single quotes ('') or double quotes ("").
A variable is a placeholder that stores a value by which you can access data which is stored in that memory location.

# 3. Describe three different data types.

int - Int is a type of data type which repersent integer values. Integer are whole numbers, like 1,2,3,4, -4, -6 etc

float - Float is a type of data type which represent floating- point numbers or you can say decimal numbers. For example - 2.3, 4.3, 3.0, etc

str - str is a type of data type which represent String and it is a combination of characters which we enclose in quotes it can be single quotes ('') or double quotes (""). Example - "Hello" "my" 'name' 'is' 'vishal'

# 4. What is an expression made up of? What do all expressions do?

Expression is any sequence of varibale, values and operators and it reduce a result to single value. What expression do is, it evaluate the expression and after using print function we can print that evaluated value.

# 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

In this assignment we have assigned a value of 10 to a variable spam which we can say we have written a type of statement. However, under expression there will be a single evaluated value which will be evaluated by python interpreter.

In [5]:
#example of expression

spam = 10 #  statement
spam1 = 20 # statement
total = spam+spam1 # expression
print (total)

30

# 6. After running the following code, what does the variable bacon contain?

In [8]:
bacon = 22
bacon + 1
print (bacon)
# after running this code bacon will contain only 22 but if  we declare  in second line bacon = bacon+1 then it will give 23 as value.

22

# 7. What should the values of the following two terms be?

In [9]:
'spam'+ 'spamspam'

'spamspamspam'

In [10]:
'spam'*3

'spamspamspam'

Under this both it will evaluate string as 'spamspamspam'

# 8.Why is eggs a valid variable name while 100 is invalid?

As we have been taught that any varibale we will declare in python can not be start with a digit if we will start any valiable with a digit it will throw an error. Variable can start with an alphabet, or (_)
For example : 20cars = 20 (it is not correct it will throw an error)
cars = 20 (it is correct it will run)
Hence eggs is a valid varibale however 100 is an invalid variable.

# 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

int() for integer,

str() for string ,

float() for floating value.

# 10. Why does this expression cause an error? How can you fix it?
'I have eaten' +99+'burritos'

In [11]:
'I have eaten' +99+'burritos'

TypeError: can only concatenate str (not "int") to str

In [14]:
# It is throwing and error due to a value of 99 as we cannot concatenate a integer with string using + operator the correct way of writing this can be.

'I have eaten' +' 99 '+'burritos' # now it will not throw any error.

'I have eaten 99 burritos'